
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(96, 114, 192);
    
}

.links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
    padding-top: 10px;
}

.cart{
    width: 45px;
    height: 35px;
}

.number{
    background-color: firebrick;
    border: 1px solid black;
    border-radius: 30px;   
    text-align: center;
}