
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(96, 114, 192);
    
}

.links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
    padding-top: 10px;
}

.cart{
    width: 45px;
    height: 35px;
}

.number{
    background-color: firebrick;
    border: 1px solid black;
    border-radius: 30px;   
    text-align: center;
}


.ventana{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    position: absolute;
    background-color: antiquewhite;
    background-size: 100%;
    margin: 25px;
    padding: 10px;
}


.tarjetas{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(86, 97, 126);
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 10px;

}


