
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(255, 195, 127);
    
}

.links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
    padding-top: 10px;
}

/*.cart{
    padding: 15px;
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 10px 0px 10px;
}*/

.number{
    background-color: firebrick;
    border: 1px solid black;
    border-radius: 30px;   
    text-align: center;
}